{% extends "./base.html" %}
{% load static %}
{% block title %}BookStore{% endblock %}
{% block content %}


<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-3">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="h1 fw-bold">Search, Read, Buy, Review</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator,
          etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Make an account</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="pb-3 h5">All Books</div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">

        {% for product in products %}

        <div class="col">
          <div class="card shadow-sm">
            <img class="img-fluid" alt="Responsive image" src="{{ product.image.url }}">
            <div class="card-body">
              <p class="card-text">
                <a class="text-dark text-decoration-none" href="{{ product.get_absolute_url }}">{{ product.title }}</a>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">10min read</small>
              </div>
              <div class="col">
                <div class="row p-3">
                    <div class="col-6">
                        <label for="select">Qty</label>
                        <select id="{{product.id}}sel">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <p>{{product.id}}</p>
                    <div class="col-6 text-end">
<button type="button" id="{{product.id}}" value="{{product.id}}" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal{{product.id}}">Add to basket</button></div>


<!-- Modal -->
<div class="modal fade" id="exampleModal{{product.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ product.title }} has been added to cart.</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <p class="card-text">
        <a class="text-dark text-decoration-none" href="{{ product.get_absolute_url }}">{{ product.title }}</a>
      </p>
      <div class="modal-body">
        {{product.id}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Continue Purchase</button>
        <form action="/basket/">
          <button type="submit" class="btn btn-primary">Go to Cart</button>
      </form>
      </div>
    </div>
  </div>
</div>
                </div>
            </div>
            </div>
          </div>
        </div>

        {% endfor %}

      </div>
    </div>
  </div>
</main>
<script>
  var fired_button="none";
  $("button").click(function() {
});

  $(document).on('click', "button", function (e) {
      var val=this.id+"sel";
      var qua=document.getElementById(val).value;
      e.preventDefault();
      $.ajax({
          type: 'POST',
          url: '{% url "basket:basket_add" %}',
          data: {
              productid: this.id,
              productqty: qua,
              csrfmiddlewaretoken: "{{csrf_token}}",
              action: 'post'
          },
          success: function (json) {
             document.getElementById("val").innerHTML = json.qty
          },
          error: function (xhr, errmsg, err) {}
      });
  })
</script>







{% endblock %}
